CXX:=g++
CPPFLAGS:=-Wall -ffreestanding -Os -march=i386 -m32 -fno-pic -fno-pie -masm=intel -Iinclude

LD:=ld
LDFLAGS:= -T legacy/src/linker.ld -nostdlib

AS:=nasm
ASFLAGS:=-f elf

BUILD_DIR:=build

STAGE1_BIN:=boot1.bin
STAGE2_BIN:=boot2.bin

RM:=rm -f 

MKHDD:=tools/mkhdd.sh

LEGACY:=bootloader.img

MAKE:=make --no-print-directory